@import url('https://fonts.googleapis.com/css?family=Lato:700');

@import url('https://fonts.googleapis.com/css?family=Oswald:900');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

* {
    box-sizing: border-box;
}

h1 {
    font-size: 56px;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

body #navigation {
    position: sticky;
    top: 0;
}

p {
    font-size: 16px;
}

ul {
    font-size: 18px;
    padding-left:50px;
}

a {
    color:white;
    text-decoration-line: none;
}



/* Navigation bar styling */

#navigation {
    padding: 10px 65px 5px 75px;
    background-color: white;
}

.mainNav {
    display:flex;
    flex-direction:row;
    justify-content:flex-left;
}

.dcLogo {
    width:40px;
    height:40px;
}

.logo img {
    width:100%;
}

.navBar {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 12px 0px 0px 60px;
}

.searchBox {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding: 12px 0px 0px 160px;
}

.menuItem {
    color: black;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.menuItem img {
    width:20px;
}


/* Hero section styling */

.hero {
    padding: 60px;
    width: 100%;
    height: 430px;
    text-align: left;
    background-image: url("/images/Batman Marquee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.heroText {
    width: 460px;
    margin: 10px 0px 0px 25px;
}

.button {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    color: black;
    padding: 5px 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0px 0px 28px;
  }

/* Latest News section styling */

#latestNews {
    padding:40px 75px 30px 75px;
}

.latestNews {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around; 
}

.newsBox {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 165, 0.589);
    box-shadow: 0px 6px 10px 0 rgba(0,0,0,0.1);
    margin:10px;
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.newsBox img {
    width:260px;
}

.newsBox p {
    font-size: 14px;
    text-align: center;
}

.newsBox h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0px 10px;
}

.newsBox h4 {
    font-weight: lighter;
    color: grey;
    text-align:center;
    font-size: 12px;
}

.button2 {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    color: black;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin: 30px 0px 15px 0px;
  }

  .buttonBox {

    margin-top: 10%;
  }


/* Aquaman Featured Video section styling */

#featuredVideo {
    margin: 10px 65px 10px 65px;
}

.featuredVideo {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.aquamanVideo {
    width:640px;
    padding:10px;
}

.featuredVideoText {
    padding:30px;
}

/* Trailers section styling */

#allTrailers {
    margin: 10px 65px 10px 65px;
}

.allTrailers {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.trailerBox {
    width:240px;
    height: 250px;
    box-shadow: 0px 6px 10px 0 rgba(0,0,0,0.1);
    margin: 0px 0px 0px 0px;
}

.trailerBox img {
    width: 240px;
}

.trailerBox h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    font-size: 16px;
}

.trailerBox h4 {
    font-weight: lighter;
    color: grey;
    text-align:center;
    font-size: 12px;
}

/* Read Comics For Free section styling */

#readForFree {
    margin: 10px 65px 30px 65px;
}

.readForFreeHeader {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.readForFreeTitle {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin: 40px 0px 50px 0px;
}

.readForFreeButtons {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    padding: 12px 0px 0px 160px;
}

.button3 {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    color: black;
    padding: 10px 40px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin: 30px 20px 15px 20px;
  }

.readForFree {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-left: 30px;
    margin-right: 20px;
}

.comicBox {
    width: 240px;
}

.comicBox img {
    width: 187px;
    height: 284px;
}

.comicBox h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    font-size: 22px;
}


/* Get to Know Characters section styling */

#getToKnow {
    margin: 10px 0px 10px 0px;
}

.getToKnow {
    padding: 60px 60px 60px 100px;
    width: 100%;
    height: 396px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    background-image: url("/images/flash_hub_carCar_batman_3x1a.jpg");
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.getToKnowText {
    width: 500px;
    text-align: center;
}

.getToKnowText p {
line-height: 2.6;
}

.getToKnowText h3 {
    font-size: 14px;
    text-align: left;
    color: rgba(255, 255, 255, 0.636)
}

.getToKnowButton {
    width: 235px;
    border-style: solid;
    border-radius:40px;
    border-width:1px;
    border-color:white;
    background-color none;
    color:white;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding:0px 30px 0px 30px;
}

/* News From The Multiverse section styling */

#multiverseNews {
    margin: 10px 65px 30px 65px;
}

.multiverseNewsHeader {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.multiverseTitle {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.multiverseButton {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.button4 {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 30px;
    color: black;
    padding: 10px 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin: 20px 20px 15px 20px;
  }

.multiverseNews {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin: 20px 0px 50px 0px;
}

.multiverseBox {
    width: 328px;
    height: 370px;
    margin: 0px 0px 0px 0px;
}

.multiverseBox img {
    width: 328px;
    height: 247px;
}

.multiverseBox h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    font-size: 24px;
}

.multiverseBox h4 {
    font-weight: lighter;
    color: grey;
    text-align:center;
    font-size: 12px;
}


/* Join DC section styling */

.joinDC {
    background-image: linear-gradient(to right, #2A0542, #5816BD);
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
}

.joinDCText {
    padding:50px;
}

.joinDCImage img {
    width:500px;
}

.button5 {
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    color: white;
    padding: 13px 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin: 5px 0px 15px 0px;
  }

/* Footer section styling */

.footer {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
 }