@import url('https://fonts.googleapis.com/css?family=Lato:900');

* {
    box-sizing: border-box;
}

h1 {
    font-size: 56px;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

h4 {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 16px;
}

ul {
    font-size: 18px;
    padding-left:50px;
}

a {
    color:white;
    text-decoration-line: none;
}



/* Navigation bar styling */

.mainNav {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.logo {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.navBar {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.searchBox {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.menuItem {
    color: black;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: left;
    padding: 10px;
}

.dcLogo {
    width:40px;
    height:40px;
}


/* Hero section styling */

.hero {
    padding: 60px;
    width: 100%;
    height: 400px;
    text-align: left;
    background-image: url("https://static.dc.com/2023-09/DC.com_20230926_Bat-Manga_Marquee_3x1_.jpg?w=1200");
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}

.heroText {

    width: 500px;
}

.heroButton {
    width: 300px;
    border-radius:40px;
    border-width:1px;
    border-color:black;
    background-color:white;
    color:black;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: center;
}

/* Latest News section styling */

.latestNews {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:50px;
}

.newsBox {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(233, 233, 165, 0.589);
    margin:20px;
}

/* Aquaman Featured Video section styling */

.featuredVideo {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 50px;
}

.aquamanVideo {
    width:300px;
    padding:10px;
}

.featuredVideoText {
    padding:10px;
}

/* Trailers section styling */

.allTrailers {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

/* Read Comics For Free section styling */

.readForFree {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

/* Get to Know Characters section styling */

.getToKnow {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

/* News From The Multiverse section styling */

.multiverseNews {
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}


/* Join DC section styling */

.joinDC {
    background-image: linear-gradient(to right, #2A0542, #5816BD);
    color:white;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:flex-end;
}

.joinDCText {
    padding:50px;
}

.joinDCImage .img {
    width="300px";
}

.signUpButton {
    width: 200px;
    border-style:solid;
    border-radius:40px;
    border-width:1px;
    border-color:white;
    color:white;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: center;
}

/* Footer section styling */

.footer {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
 }