@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.box {
    color: white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 15px;
}

/* Apply flex rules here to change layout of boxes */
.container {
    display:flex;

}
  
/* Colours for each box */
.box1 { background:#eccc68;}
.box2 { background:#ff6348;}
.box3 { background:#ff7f50;}
.box4 { background:#ff4757;}
.box5 { background:#f1c40f;}
.box6 { background:#e67e22;}
.box7 { background:#2ed573;}
.box8 { background:#1e90ff;}
.box9 { background:#c56cf0;}
.box10 { background:#18dcff;}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #1f2322;
    color: white;
    font-size: 12px;
 }

 p {
    font-size: 18px;
 }

 ul {
    font-size: 18px;
    padding-left:50px;
 }

nav {
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
 }

.mainintro {
    text-align: left;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 20px;
}

{
        box-sizing: border-box;
}


    /* Set additional styling options for the columns */
.column {
    float: left;
}

    /* Set width length for the left and right columns */
.left {
    width: 70%;
}
    
.right {
    width: 30%;
    background: #1abc9c;  
}

.row:after {
    content: "";
    display: table;
    clear: both;
}